@import "tailwindcss";

html, main {
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
    animation: gradient 15s ease infinite;
    user-select: none;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

img {
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
	  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
	  box-shadow: 0 0 0 1000px transparent inset !important;
	  -webkit-text-fill-color: white !important;
	  background-clip: content-box !important;
	  transition-property: background-color, color;
	  transition-delay: 99999s;
	  transition-duration: 99999s;
  }
  
  input:-webkit-autofill {
	  -webkit-animation-name: autofill;
	  -webkit-animation-fill-mode: both;
  }
  
  input {
	  color: white !important;
	  background-color: transparent !important;
  }